# This file designates code owners for this repository.
# Lines starting with '#' are comments.

# Set the main maintainers as code owners for everything in the repo:
*       @osceolaares

/.github/CODEOWNERS @jbouse
/terraform/    @jbouse
/.devcontainer/ @jbouse
/assets/      @osceolaares/editors
/content/      @osceolaares/editors
/data/        @osceolaares/editors
/static/      @osceolaares/editors